/Makefile
/configure
/config.log
/config.status
/test/configure
/test/Makefile
/test/config.log
/test/config.status
/test/*.nexe
/test/*.pexe
/sdl2-config
/sdl2.pc
/libtool
/SDL2.spec
/build
/aclocal.m4
/autom4te.cache
/test/autom4te.cache
/Makefile.rules
/include/SDL_config.h
